table{
	border-style: solid;
	border-width: thin;
	margin: auto;
}

td{
	border-style: solid;
<<<<<<< HEAD
	border-width: 3px;
=======
	border-width: 1px;
>>>>>>> parent of efb079b... Style Change
	padding-right: 0.5cm;
}